body {
    background-color: #2f2e2e;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  .navbar {
    background-color: #8a2be2 !important; 
    padding-top: 40px;
    padding-bottom: 40px; 
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
  }

  .navbar-card {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-brand {
    font-size: xxx-large;
    color: #333333 !important; 
  }

  .nav-link-card {
    background-color: rgb(213, 210, 210);
    padding: 5px 10px;
    border-radius: 2px;
    margin: 0 5px; 
    text-align: center;
  }
  
  .nav-link {
    font-size: larger;
    color: #333333 !important; 
  }

  .nav-link.active {
    background-color: #9370db; 
    border-radius: 5px;
    color: #ffffff24 !important;
  }

  .main-card {
    background-color: #c7c6c6 !important;
    padding: 10px; 
    box-sizing: border-box;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 80vh;
    margin-bottom: 50px;
}
  
  .main-card h2 {
    color: #000000;
    padding: 20px 0;
  }

  .content-card {
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-right: 0; 
    box-sizing: border-box;
    min-height: 80vh;
  }
  
  .scrollable-card {
    max-height: 400px; 
    overflow-y: auto;
    padding-right: 15px; 
  }

  .large-card {
    width: 100%;
    height: 200px;
    background-color:#7f65c5; 
    
  }
  
  .small-card {
    width: 100%;
    height: 50px;
    background-color:#7f65c5;
    margin-bottom: 15px;
  }
  
  .medium-card {
    width: 100%;
    height: 100px;
    background-color: #7f65c5; 
    margin-bottom: 15px;
  }

  .settings-card {
    width: 100%;
    height: auto;
    background-color:#f6f5f5;
    margin-bottom: 15px;

    

  }

  
  /* number one */
  .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }

  .custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
    transform: translateX(1.25rem);
  }



  /* number two */
  .custom-control2-input:checked~.custom-control2-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }

  .custom-control2-input:focus~.custom-control2-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-control2-input:checked~.custom-control2-label::after {
    background-color: #fff;
    transform: translateX(1.25rem);
  }



  /* number three */
  .custom-control3-input:checked~.custom-control3-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }

  .custom-control3-input:focus~.custom-control3-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-control3-input:checked~.custom-control3-label::after {
    background-color: #fff;
    transform: translateX(1.25rem);
  }



  /* number four */
  .custom-control4-input:checked~.custom-control4-label::before {
    background-color: #007bff;
    border-color: #007bff;
  }

  .custom-control4-input:focus~.custom-control4-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .custom-control4-input:checked~.custom-control4-label::after {
    background-color: #fff;
    transform: translateX(1.25rem);
  }